@import url('https://rsms.me/inter/inter.css');
.LoginContainer { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  .LoginContainer { font-family: 'Inter var', sans-serif; }
}
.LoginContainer {
  display: flex;
  flex-direction: row;
  background: #FFFAFA!important;
}
.MediaSecBg {
  width: 50%;
}
.LoginInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.QuickLogin {
  display: flex;
}

.QuickBtn {
  width: 209px;
  height: 61px;
  border: 1px solid #BCBCBC;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.QuickBtn img {
  width: 30px;
  height: 30px;
}
.Line {
  display: flex;
  border-bottom: 3px solid grey;
  justify-content: center;
}

.Line h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #BCBCBC;
  align-self: center;
  background-color: #FFFAFA;
  border-left: #FFFAFA 2px solid;
  border-right: #FFFAFA 2px solid;
  position: relative;
  bottom: -9px;
}

#emailInput, #passwordInput {
  box-sizing: border-box;
  width: 364px;
  height: 51px;
  border: 1px solid #BCBCBC;
  border-radius: 30px;
  }
  .passwordLabel {
    display: flex;
    justify-content: space-between;
  }
  .passwordLabel p {

    font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
    background-color: #FFFAFA;
  color: #1093F3;
  }


.MediaSection {
  background-color: #F1F4F5;
}

.LoginBtn {
  width: 364px;
  height: 61px;
  color: white;
  background: #1093F3;
  border-radius: 30px;
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

/* identical to box height */

color: #FFFFFF;
}